<?php
if(!defined("WOWOSTAR"))exit;
?>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <!--360双核浏览器识别-->
    <meta name="renderer" content="webkit">
    <!--强制IE浏览器不使用兼容性视图-->
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <link rel="stylesheet" href="__STATIC__/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/animation.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/public.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/theme/default.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/theme/icon.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/frame.css">
    <link rel="stylesheet" href="__STATIC__/css/function.css"/>
    <!--<link rel="stylesheet" href="__STATIC__/js/plugin/layer/skin/layer.css"/>
    <link rel="stylesheet" href="__STATIC__/js/plugin/layer/skin/layer.ext.css"/>-->
    <title>帷幄内网安全信息中心</title>
    <script>
        var IS_REG = "<?php echo $_SESSION['_SYSTEM_INFO']['IS_REG']; ?>".length>0?true:false;
    </script>
    
    <!--引入jQuery-->
    <script src="__STATIC__/js/plugin/jquery-1.8.3.js"></script>
    <!--依赖包-->
    <script src="__STATIC__/js/plugin/jquery.hash.js"></script>
    <script src="__STATIC__/js/plugin/jquery.json-2.2.js"></script>
    <script src="__STATIC__/js/plugin/jquery.cookie.js"></script>
    <script src="__STATIC__/js/plugin/jquery.form.js"></script>
    <script src="__STATIC__/js/plugin/jquery.formautofill.js"></script>
    <!-- <script src="__STATIC__/js/plugin/jquery.hotkeys.js"></script> -->
    <script src="__STATIC__/js/plugin/layer/layer.min.js"></script>
    <script src="__STATIC__/js/plugin/laydate/laydate.js"></script>
    <script src="__STATIC__/js/plugin/validation/jquery.validate.js"></script>
    <script src="__STATIC__/js/plugin/validation/additional-methods.js"></script>
    <script src="__STATIC__/js/plugin/validation/localization/messages_zh.js"></script>
    <script src="__STATIC__/js/plugin/ajaxfileupload.js"></script>
    <script src="__STATIC__/js/plugin/jquery.enplaceholder.js"></script>
    <script src="__STATIC__/js/plugin/jquery.zclip.js"></script>
    <script src="__STATIC__/js/plugin/jquery.mousewheel.js"></script>
    <script src="__STATIC__/js/code.js"></script>
    <!--引入框架-->
    <script src="__STATIC__/js/frame.js"></script>
    <script src="__STATIC__/js/plugin/binfu/ajaxTable.js"></script>
    <script src="__STATIC__/js/plugin/binfu/ajaxTree.js"></script>
    <script src="__STATIC__/js/plugin/binfu/ajaxTreeSelect.js"></script>
    <script src="__STATIC__/js/plugin/binfu/ajaxPanel.js"></script>
    <!--与后台交互api-->
    <script src="__STATIC__/js/api.js"></script>
    <!--语言包-->
    <script src="__STATIC__/js/lang/zh-cn.js"></script>
    <!--引入主页面-->
    <script src="__STATIC__/js/run.js"></script>

    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
</head>
<body>